#title {
  font-family: 'bowlby-one', sans-serif;
  letter-spacing: 0px; 
}
#bgCanvas {
  position: fixed;
}

#wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

#box_1 {
  background: ;
}